.mainContainer{
font: 100;
}

.categoriesContainer{

    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
   
    margin-left: 20px;
    justify-content: space-around;
}

.categoriesLabel{
    
    color: rgb(189, 189, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: blue; */
    font-size: 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.categoryButtonContainer{

    margin-top: 10px;
    margin-left: 10px;

}

.categoryButton{

    cursor: pointer;

    width: 200px;   
    height: 60px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    /* color: white; */
    color: rgb(133, 133, 133);

    border-radius: 5px;
    box-shadow: 4px 4px 15px rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(222, 220, 220); */

}